@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');


* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes contentReveal{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

body {
  height: auto;
  background-color: #fff;
}

html, body{
  animation: contentReveal 1.25s ease;
}

.line {
  width: 0%;
  position: fixed;
  top: 0;
  z-index: 15;
  height: 0.25rem;
  background-color: #ffa451;
  box-shadow: 0px 0px 10px #8b680056;
}

/* navbar starts */
.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 7rem;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 15%; */
}

.mainNavContainer {
  /* width: 70rem; */
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 1rem;
  /* border-bottom: 1px solid #f3f3f3; */
}

.navbarUl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbarUlLi {
  margin: 0 1rem;
  list-style: none;
}

.navbarUlLiA {
  text-decoration: none;
  color: #D0D0D0;
  font-family: 'Product Sans', sans-serif;
  font-size: 0.95rem;
  transition: 0.5s;
  font-weight: 300;
}

.activeNavHead {
  color: #ffa451;
  font-family: 'Product Sans', sans-serif;
  font-weight: 700;
}

/* navbar ends */


/* mainContainer starts */

.mainContainerParent {
  height: auto;
  width: 100vw;
  /* background-color: red; */
  margin-top: 7rem;
  margin-bottom: 12.5rem;
}

.mainContainer {
  height: 100%;
  width: 70%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7rem;

}

.homeBlock {
  width: 100%;
  height: 37.5rem;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.homeBlockLeft {
  background-color: #666666;
  height: 31.5rem;
  width: 31.5rem;
  position: relative;
  /* top: 0; */
  /* left: 0; */
  z-index: 3;
  box-shadow: 0px 50px 100px 10px rgba(0, 0, 0, 0.34);
}

.homeBlockRight {
  /* background-color: blue; */
  height: 22.5rem;
  width: 70%;
  z-index: 1;
  position: absolute;
  margin-top: 15rem;
  display: flex;
  justify-content: flex-end;
}

.homeBlockRightInner {
  width: 80%;
  height: 100%;
  background-color: #D9D9D9;
}

.homeBlockSpacer {
  margin-top: 12rem;
}

.homeBlockSecond .homeBlockLeft {
  margin-left: auto;
}

.homeBlockSecond .homeBlockRight {
  justify-content: flex-start;
}

.homeBlockThird {
  height: 45rem;
}

.homeBlockThird .homeBlockRight {
  /* justify-content: flex-start; */
  height: 25rem;
  margin-top: 22rem;
}

.homeBlockThird .homeBlockLeft {
  margin-left: auto;
  margin-right: auto;
}

.homeBlockThird .homeBlockRightInner {
  /* justify-content: flex-start; */
  width: 100%;
}

#homeBlockCollaborationLeft {
  background: url('../images/COLLABORATE-iStock-525109731-768x659.jpeg');
  background-size: cover;
  background-position: center;
}

#homeBlockDesignLeft {
  background: url('../images/cover_article_1608_nb_NO-3897130090.png');
  background-size: cover;
  background-position: center;
}

#homeBlockInnovateLeft {
  background: url('../images/s5i8mqjblvseb9dv-1199602755.png');
  background-size: cover;
  background-position: center;
}




/* mainContainer ends */


/* footer starts */

footer {
  width: 100%;
  height: 40rem;
  background-color: #515151;
}


/* footer ends */